@use "../../../scss/abstracts" as *;

.nav {
  display: flex;
  font-size: 1.5rem;
  gap: 50px;
  height: 35px;

  a {
    font-weight: 400;
    letter-spacing: 0.05rem;
    user-select: none;
  }
}

.nav__item {
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  position: relative;

  padding: 0 10px 10px 10px;

  &:hover,
  &:active {
    background-color: $bg-color;

    color: white;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-bottom-right-radius: 20px;
      box-shadow: 5px 5px 0 5px $bg-color;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -20px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-bottom-left-radius: 20px;
      box-shadow: -5px 5px 0 5px $bg-color;
    }
  }

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}

.active {
  background-color: $bg-color;
  color: white;
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px $bg-color;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px $bg-color;
  }
}
