@use "../../scss/abstracts" as *;

.grid_view {
  display: none;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: space-between;
  gap: 5px;
  &.active {
    display: grid;
  }
}

.list_view {
  display: none;
  flex-direction: column;
  gap: 10px;
  &.active {
    display: flex;
  }
}

.wrapper {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}
