@use "../../../scss/abstracts" as *;

.block {
  display: flex;
  color: #000;
  margin: auto 0 0;
  grid-area: controls;
}

.status_option {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px;
  background: none;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    .favorite {
      filter: invert(63%) sepia(85%) saturate(4768%) hue-rotate(335deg)
        brightness(111%) contrast(101%);
    }
    .watched {
      filter: invert(67%) sepia(76%) saturate(5353%) hue-rotate(112deg)
        brightness(96%) contrast(101%);
    }
    .on_hold {
      filter: invert(74%) sepia(83%) saturate(713%) hue-rotate(355deg)
        brightness(102%) contrast(111%);
    }
  }
}

.active__watched {
  background-color: #00b947;
  &:hover {
    .watched {
      filter: none;
    }
  }
}
.active__favorites {
  background-color: #ff6347;
  &:hover {
    .favorite {
      filter: none;
    }
  }
}
.active__on_hold {
  background-color: #ffd700;
  &:hover {
    .on_hold {
      filter: none;
    }
  }
}

.icon {
  margin: 0 auto;
  width: 60px;
}
.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
