$font-family: "Roboto";
$base-font-size: 16; //px
$base-font-weight: 400;
$base-line-height: 25; //px
$max-width: 1600px; // max container width

$tablet-width: 1310px;
$mobile-width: 920px;
$smallest-width: 700px;
