@use "../../../scss/abstracts" as *;

.profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  margin-top: 8px;
  padding: 3px 10px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  a {
    display: flex;
    align-items: center;
  }

  &:hover,
  &:active {
    background-color: $bg-color;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-bottom-right-radius: 20px;
      box-shadow: 5px 5px 0 5px $bg-color;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -20px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-bottom-left-radius: 20px;
      box-shadow: -5px 5px 0 5px $bg-color;
    }
  }

  &:hover {
    opacity: 0.8;
    position: relative;
  }
  &:active {
    opacity: 1;
  }
}

.avatar {
  width: 50px;

  img {
    border-radius: 50%;
    border: 1px solid $main-color;
  }
}

.icon--arrow-down {
  width: 10px;
  height: 10px;
}
