@use "../abstracts" as *;

body {
  background-color: $bg-color;
  font-family: $font-family, sans-serif;
  color: $text-Color;
  font-size: toRem($base-font-size);
  font-weight: 400;
  line-height: lineHeightToRem($base-line-height, $base-font-size);
}

button {
  display: inline-block;
  cursor: pointer;
  color: $link-color;
}

a {
  font-family: $font-family, sans-serif;
  color: $link-color;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}
